{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block title%}Add Post{% endblock %}

{% block content %}
<style>
    #id_title, #id_image {
        display: block;
        width: 30%;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid #000;
    }

    #id_content {
        display: block;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid #000;
    }
</style>
  <div class="container">
        <form method="post">
            <h1 class="title mt-5 mb-5">Add post</h1>
            {% csrf_token %}
            {{ form }}
            <button class="button is-dark mt-5">Add</button>
        </form>
    </div>
{% endblock %}

<!--{{ form|crispy }}-->