{% extends '../base.html' %}

{% block title%}Sign Up{% endblock %}

{% block content %}
<style>
    #id_username, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2 {
        display: block;
        width: 30%;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 5px;
        border: 1px solid #000;
    }

    .helptext {
        display: none;
    }
</style>
    <div class="container">
        <article class="message is-dark">
            <div class="mt-5 message-body">
                <h3 class="title mb-5 has-text-dark">Sign Up</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div style="display: block">
                        <button class="button is-dark">Sign Up</button>
                    </div>
                </form>
            </div>
        </article>
    </div>
{% endblock %}