{% extends '../base.html' %}

{% block title%}All News{% endblock %}

{% block content %}
  <div class="container">
        <h1 class="title mb-5 mt-5">All News</h1>
        {% for post in posts %}
        <article class="message is-dark mb-5">
            <div class="message-body">
                <h3 class="title mb-3 has-text-dark">{{ post.title }}</h3>
                <h4 class="subtitle mb-5">{{ post.postDate }}</h4>
                <p class="mb-3">{{ post.content|truncatewords:20 }}</p>
                <a href="{% url 'postDetail' pk=post.pk %}" class="button is-dark">Read</a>
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock %}