{% extends '../base.html' %}

{% block title%}Main Page{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <section class="main" style="margin-top: 75px;">
                    <div>
                      <p class="title mb-5">
                        Posts App
                      </p>
                      <p class="subtitle mb-3" style="width: 70%">
                         Welcome to my website and/or app. Here you can add any posts you wish. I don’t know why you are reading this, because you know all the functionality very well. Good luck!
                      </p>
                      <a href="{% url 'allPost' %}" class="button is-dark">All News</a>
                    </div>
                </section>
            </div>
            <div class="column">
                <h2 class="title mt-5">Last News</h2>
                {% for post in posts %}
                <div class="card mt-5">
                    <div class="card-content">
                      <div class="content">
                        <h3>{{ post.title }} </h3>
                        <a href="{% url 'postDetail' pk=post.pk %}" class="button is-dark is-outlined">Read</a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}